STREAMIZE_ENV=development
STREAMIZE_HTTP_ADDR=:8080
STREAMIZE_DATABASE_PATH=/data/streamize.db
STREAMIZE_MEDIA_ROOT=/media
STREAMIZE_QBITTORRENT_URL=http://qbittorrent:8080
STREAMIZE_QBITTORRENT_USERNAME=admin
STREAMIZE_QBITTORRENT_PASSWORD=adminadmin
STREAMIZE_SESSION_COOKIE_NAME=streamize_session
STREAMIZE_SESSION_TTL=168h
STREAMIZE_ADMIN_USERNAME=admin
STREAMIZE_ADMIN_PASSWORD=adminadmin
STREAMIZE_ADMIN_STORAGE_QUOTA_BYTES=0
STREAMIZE_SECURE_COOKIES=false
STREAMIZE_TRUSTED_PROXY_HEADERS=false
STREAMIZE_LOG_LEVEL=info

PUID=1000
PGID=1000
TZ=Asia/Kolkata
